{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="blog" data-scroll-reveal="enter top">
            {% for figure in figure_articles %}
            <figure>
                <ul>
                    <a href="{% url 'article:detail' %}?id={{figure.id}}"><img src="{{MEDIA_URL}}{{figure.image}}"><span>点击查看详情</span></a>
                </ul>
                <p><a href="{% url 'article:detail' %}?id={{figure.id}}">{{ figure.title }}</a></p>
                <figcaption>{{ figure.desc }}</figcaption>
            </figure>
          

            {% endfor %}


       
    </div>
    <ul class="cbp_tmtimeline">
        {% for article in darticles %}

        <li>
            <time class="cbp_tmtime">{{ article.date }}</time>
            <div class="cbp_tmicon"></div>
            <div class="cbp_tmlabel" data-scroll-reveal="enter right over 1s">
                <h2>{{article.title}}</h2>
                <p><span class="blogpic"><a href="/"><img src="{{MEDIA_URL}}{{article.image}}"></a></span>{{article.desc}}</p>
                <a href="{% url 'article:detail' %}?id={{article.id}}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
            </div>
        </li>
        {% endfor %}
   

    </ul>
{% endblock %}